*.aps
*.bak
*.dep
*.dsp
*.dsw
*.exe
*.exp
*.idb
*.ilk
*.lib
!IntelJPEGUtil/ijl15l.lib
*.log
*.map
*.ncb
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.psd
*.res
*.sav
*.scc
*.suo
*.tmp
*.user
*.xls
*.xlsx
Alchemy/ALConsole
Alchemy/ALGUI
Alchemy/Aristotle
Alchemy/TerraFirma
BackupExclude.txt
BuildLog.htm
calcimage/*
ChamberlainToLeibowitz.bat
ChamberlainToMazian.bat
copyFromSeverian.bat
copyToArchives.bat
copyToMazian.bat
copyToUSB.bat
DirectXBench/*
Grail/*
HI/*
HIUtil/*
JPEGUtil/*
LL1/*
MazianToChamberlain.bat
Metamorph/*
NullPoint/*
S1/*
STBrowser/*
test.bat
Transcendence/Debug/*
Transcendence/Documents/*
Transcendence/Game/*.tdb
Transcendence/Game/*.txt
Transcendence/Game/Collection/*
Transcendence/Game/compileBotA.bat
Transcendence/Game/DebugExtensions/*
Transcendence/Game/EffectsTest.xml
Transcendence/Game/ErebienNames.dat
Transcendence/Game/Extensions/*
Transcendence/Game/FrenchCities.txt
Transcendence/Game/HighScores.xml
Transcendence/Game/Settings.xml
Transcendence/Game/Spanish.dic
Transcendence/Game/Storage.xml
Transcendence/Game/TestExtension/*
Transcendence/Game/Test*.tl
Transcendence/OldTopology.xml
Transcendence/RegisteredExtensions.txt
Transcendence/Release/*
Transcendence/TransSaver/Debug/*
Transcendence/TransSaver/Release/*
Transcendence/TSUI/CHexarcService.cpp
Transcendence/Worklist.txt
Transcendence/Worklist (Completed).txt
WikiData/*
