*.aps
*.bak
*.dep
*.dsp
*.dsw
*.exe
*.exp
*.idb
*.ilk
*.lib
!IntelJPEGUtil/ijl15l.lib
*.log
*.map
*.ncb
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.psd
*.res
*.sav
*.scc
*.suo
*.tmp
*.user
*.xls
*.xlsx
BuildLog.htm
Grail/*
HI/*
HIUtil/*
LL1/*
Metamorph/*
NullPoint/*
S1/*
STBrowser/*
Transcendence/Documents/*
Transcendence/Game/Extensions/*
Transcendence/Game/Settings.xml
Transcendence/TransSaver/Debug/*
Transcendence/TransSaver/Release/*
Transcendence/TSUI/CHexarcService.cpp
Transcendence/TSUI/CHexarcServiceStub.cpp

