//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_COMMANDBAR          BITMAP  DISCARDABLE     "Resources\\CommandBar.BMP"
IDB_COMMANDLINE         BITMAP  DISCARDABLE     "Resources\\CommandLine.BMP"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
LL1                     ICON    DISCARDABLE     "resources\\icon1.ico"

/////////////////////////////////////////////////////////////////////////////
