<?xml version="1.0" encoding="utf-8" ?>

<TranscendenceSettings>

	<Option name="noMusic"	value="true"/>
	<Option name="soundVolume"	value="4"/>
	<Option name="musicPath"	value="\\leibowitz\extended\music"/>

	<KeyMap>
		<Map key="Tab" command="NextMissile"/>
		<Map key="Return" command="FireMissile"/>
		<Map key="Shift" command="FireMissile"/>
		<Map key="Control" command="FireWeapon"/>
		<Map key="Pause" command="Pause"/>
		<Map key="Space" command="FireWeapon"/>
		<Map key="Left" command="RotateLeft"/>
		<Map key="Up" command="ThrustForward"/>
		<Map key="Right" command="RotateRight"/>
		<Map key="Down" command="ThrustForward"/>
		<Map key="A" command="Autopilot"/>
		<Map key="B" command="EnableDevices"/>
		<Map key="C" command="Communications"/>
		<Map key="D" command="Dock"/>
		<Map key="F" command="TargetNextFriendly"/>
		<Map key="G" command="EnterGate"/>
		<Map key="I" command="InvokePower"/>
		<Map key="J" command="RotateLeft"/>
		<Map key="K" command="ThrustForward"/>
		<Map key="L" command="RotateRight"/>
		<Map key="M" command="ShowMap"/>
		<Map key="N" command="ShowGalacticMap"/>
		<Map key="P" command="Pause"/>
		<Map key="Q" command="CommandSquadron"/>
		<Map key="R" command="ClearTarget"/>
		<Map key="S" command="ShipStatus"/>
		<Map key="T" command="TargetNextEnemy"/>
		<Map key="U" command="UseItem"/>
		<Map key="W" command="NextWeapon"/>
		<Map key="F1" command="ShowHelp"/>
		<Map key="F2" command="ShowGameStats"/>
		<Map key="F7" command="VolumeDown"/>
		<Map key="F8" command="VolumeUp"/>
		<Map key="F9" command="ShowConsole"/>
		<Map key="Period" command="Stop"/>
	</KeyMap>

	<Services>
		<Hexarc enabled="true"
			username="Saint Leibowitz"
			host="transcendence.hierosteel.com"
			rootURL="/api/"
			/>
		<Xelerus enabled="false"/>
	</Services>

</TranscendenceSettings>
